#app{
    position: relative;
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
    background-color: $color__blue;
    overflow: hidden;
}

.background{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 100vh;
    background-color: rgb(245, 245, 245);
    background-position: center center;
    background-image: url('../img/bgc.png');
}

.loader{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/logo-black.svg');
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: 100%;
    width: 100px;
    height: 100px;
    //color: white;
}

.logo{
    width: 150px;
    height: 150px;
}

.button{
    display: block;
    background-color: white;
    width: 90%;
    font-size: 20px;
    border-style:none;
    // letter-spacing: 1.23px;
    // text-transform: uppercase;
    margin: 50px auto;
    box-sizing: border-box;
    padding: 15px 0 ;
    border-radius: 3px;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.49);
    color: $color__blue;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover { 
    display: none; 
    width: 0px;
    // background: transparent;
    background: rgba(#fff, 0);
}