.menu{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
        position: relative;
        display: block;
        margin: 20px 0;
        font-size: 30px;
        &:after{
            content: "";
            transition: all 0.2s;
            height: 3px;
            border-radius: 1.5px;
            width: 0;
            background-color: black;
            display: block;
        }
        
        &:hover:after, &:target:after{
            width: 100%;
        }
    }
}